.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.home-header{
    color: orange;
    font-size: 300%;
}
.home-button{
    color: orange;
    border: none;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: white;
    font-size: large;
    padding: 5px 30px;
    cursor: pointer;
}
.home-button:hover{
    color: white;
    border: 1px solid black;
    background-color: black;
    font-weight: 700;
}